@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@model List<Social_Frenzy.Models.User>
<div class="col-md-9" style="margin-top:10px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span style="font-size:20px; font-family:'Comic Sans MS'">View Users Here</span>
        </div>
        <div class="panel-body">
            <div>
                @foreach(var v in Model)
                {
                    <div class="panel-body" style="border:1px solid lightgrey; margin-top:5px">
                    <div class="col-md-1" style="padding:0">
                        <img src="/Images/@v.Photo" height="80px" width="80px">
                    </div>
                    <div class="col-md-7" style="margin-top:20px">
                        <span style="font-size:20px; color:navy; ">@v.FirstName<span> @v.LastName</span></span>
                    </div>
                    <div class="col-md-4 pull-right" style="margin-top:15px">
                        <form action="/Admin/Posts/@v.Id" method="post" style="float:left">
                            <button type="submit" class="btn btn-lg btn-success">View Posts</button>
                        </form>
                        <form style="float:left; margin-left:5px">
                            <button type="submit" class="btn btn-lg btn-primary">Delete</button>
                        </form>
                        
                        
                    </div>
                </div>    
                }
                
            </div>
        </div>
    </div>
</div>
